.idea/
*.iml

# Gradle
.gradle/
build/

# IntelliJ build output
out/

# IntelliJ Platform Gradle Plugin cache directory
.intellijPlatform/

# OS / Misc
Thumbs.db
.DS_Store

# Logs
*.log